<h1><strong><%= @band.bandname %></strong><small> New Tour</small></h1>

<% @venues.each() do |venue| %>
<li><h3><%= venue.venuename %> <input type="checkbox"></form><h3></li>
<% end %>

<button type="submit" class="btn btn-success">Submit New Tour</button>

<h3>Upcoming venues to play...</h3>
