<h1>Oops there was an error!<small> You left a blank somewhere</small></h1>

<a href="/addband"><button type="button" class="btn btn-danger">Back to bands</button></a>
<a href="/addvenue"><button type="button" class="btn btn-primary">Back to venues</button></a>
